<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <title><%= title %></title>
</head>
<body>
<div id="fb-root"></div>
<div id="wrapper">
    <!--Begin: Header-->
    <%- include('./base/header') %>
    <!--End: Header-->

    <div class="prebreadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item text-capitalize active">
                        <%= anime.title %>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <!--Begin: Main-->
    <div id="main-wrapper" class="layout-page layout-page-watch">
        <div class="container">

            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>

            <div class="player-extend-display"></div>
            <div id="main-content">

                <!--Begin: watch-block-->
                <div id="watch-block" class="">
                    <% if(anime.trailer && anime.episodeCount <= 0) { %>
                        <div class="player-wrap">
                            <div class="wb_-playerarea">
                                <iframe src="<%= anime.trailer %>"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    <% } else { %>

                        <div class="player-controls">
                            <div id="prevEp" class="pc-item" data-current-episode="<%= episode.episodeNum %>"
                                 data-episodes="<%= anime.episodeCount %>">
                                <div class="toggle-basic">
                                    <span class="tb-name"><i class="fas fa-backward"></i> Tập trước</span>
                                </div>
                            </div>
                            <div id="nextEp" class="pc-item" data-current-episode="<%= episode.episodeNum %>"
                                 data-episodes="<%= anime.episodeCount %>">
                                <div class="toggle-basic">
                                    <span class="tb-name"><i class="fas fa-forward"></i> Tập tiếp</span>
                                </div>
                            </div>
                            <div id="comment" class="pc-item">
                                <div class="toggle-basic">
                                    <span class="tb-name"><i class="fas fa-comment"></i> Bình luận</span>
                                </div>
                            </div>
                            <div id="capture" class="pc-item">
                                <div class="toggle-basic">
                                    <span class="tb-name"><i class="fas fa-camera"></i> Chụp ảnh</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    <% } %>
                </div>

                <div class="player-servers">
                    <div id="servers-content">
                        <div class="ps_-status">
                            <div class="content">
                                <% if(anime.trailer && anime.episodeCount <= 0) { %>
                                    <div class="server-notice"><strong>Bạn đang xem trailer của
                                            <b><%= anime.title %></b>.</strong> Phim sắp chiếu hoặc admin đang cập
                                        nhật tập mới, bạn vui lòng chờ nhé <3
                                    </div>
                                <% } else if(anime.episodeCount > 0) { %>
                                    <div class="server-notice"><strong>Bạn đang xem
                                            <b>Tập <%= episode.episodeNum %></b>.</strong> Nếu
                                        server hiện tại gặp vấn đề hãy chọn server khác nhé <3
                                    </div>
                                <% } %>
                            </div>
                        </div>

                        <% if(anime.episodeCount > 0) { %>
                            <div class="ps_-block ps_-block-sub servers-sub">
                                <div class="ps__-title"><i class="fas fa-server mr-2"></i>SERVER:</div>
                                <div class="ps__-list">
                                    <div class="item server-item">
                                        <a href="/watch/<%= anime.slug %>/tap-<%= episode.episodeNum %>"
                                           class="btn active">#1</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        <% } %>
                    </div>
                </div>

                <% if(anime.episodeCount > 0) { %>
                    <!--Begin: Section eps-list-->
                    <section class="block_area block_area-episodes">
                        <div class="block_area-content">
                            <div class="episodes-ul">
                                <% for(let i = 0; i < anime.episodeCount; i++) { %>
                                    <% if(i + 1 != episode.episodeNum) { %>
                                        <a href="/watch/<%= anime.slug %>/tap-<%= i + 1 %>"
                                           title="Tập <%= i + 1 %>"
                                           class="item ep-item">
                                            <div class="order"><%= i + 1 %></div>
                                        </a>
                                    <% } else { %>
                                        <a href="/watch/<%= anime.slug %>/tap-<%= i + 1 %>"
                                           title="Tập <%= i + 1 %>"
                                           class="item ep-item active">
                                            <div class="order"><%= i + 1 %></div>
                                        </a>
                                    <% } %>
                                <% } %>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </section>
                    <!--/End: Section eps-list-->
                <% } %>

                <!--Begin: Placeholder Ad-->
                <!--End: Placeholder Ad-->

                <!--Begin: Section detail-->
                <section class="block_area block_area-detail">
                    <div class="block_area-content">
                        <div class="anime-detail">
                            <div class="anime-poster">
                                <div class="film-poster">
                                    <img loading="lazy"
                                         src="https://img.animeow.pro/imgur/<%= anime.image %>"
                                         class="film-poster-img" alt="<%= anime.title %>">
                                </div>
                            </div>
                            <div class="film-infor">
                                <div class="film-infor-top">
                                    <h2 class="film-name"><%= anime.title %></h2>
                                    <% if(anime.otherTitle) { %>
                                        <div class="alias"><%= anime.otherTitle %></div>
                                    <% } %>
                                </div>
                                <div class="film-description">
                                    <p class="shorting"><%= anime.description %></p>
                                </div>
                                <div class="meta">
                                    <div class="col1">
                                        <div class="item">
                                            <div class="item-title">Type:</div>
                                            <div class="item-content">
                                                <% if(anime.type === 'tv') { %>
                                                    TV Series
                                                <% } else if(anime.type === 'movie') { %>
                                                    Movie
                                                <% } else { %>
                                                    N/A
                                                <% } %>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <% if(anime.transTeam) { %>
                                            <div class="item">
                                                <div class="item-title">Nhóm sub:</div>
                                                <div class="item-content">
                                                    <span><%= anime.transTeam %></span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <% } %>

                                        <% if(genreList) { %>
                                            <div class="item">
                                                <div class="item-title">Thể loại:</div>
                                                <div class="item-content">
                                                    <% for(let i = 0; i < genreList.length; i++) { %>
                                                        <a href="/the-loai/<%= genreList[i].slug %>">
                                                            <%= genreList[i].name %>
                                                            <% if(i + 1 != genreList.length) { %>,
                                                            <% } %>
                                                        </a>
                                                    <% } %>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="col2">
                                        <% if(anime.season && anime.releaseYear) { %>
                                            <div class="item">
                                                <div class="item-title">Season:</div>
                                                <div class="item-content">
                                                    <% if(anime.season === 'spring') { %>
                                                        <span>Mùa Xuân Năm <%= anime.releaseYear %></span>
                                                    <% } else if(anime.season === 'summer') { %>
                                                        <span>Mùa Hạ Năm <%= anime.releaseYear %></span>
                                                    <% } else if(anime.season === 'fall') { %>
                                                        <span>Mùa Thu Năm <%= anime.releaseYear %></span>
                                                    <% } else if(anime.season === 'winter') { %>
                                                        <span>Mùa Đông Năm <%= anime.releaseYear %></span>
                                                    <% } else { %>
                                                        <span>N/A</span>
                                                    <% } %>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <% } %>

                                        <div class="item">
                                            <div class="item-title">Chất lượng:</div>
                                            <div class="item-content">
                                                <span><%= anime.quality %></span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <% if(anime.releaseYear) { %>
                                            <div class="item">
                                                <div class="item-title">Năm:</div>
                                                <div class="item-content">
                                                    <span><%= anime.releaseYear %></span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
                <!--/End: Section detail-->

                <!--Begin: Section comment-->
                <section class="block_area block_area-comment">
                    <div class="block_area-header block_area-header-tabs">
                        <div class="float-left bah-heading mr-4">
                            <h2 class="cat-heading">Bình Luận</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="block_area-content">
                        <div id="remark42"></div>
                    </div>
                </section>
                <!--/End: Section comment-->

                <div class="clearfix"></div>
            </div>


            <!--Start: main-sidebar-->
            <div id="main-sidebar">
                <% if(anime.relatedAnimeList && anime.relatedAnimeList.length > 0) { %>
                    <section class="block_area block_area_sidebar block_area-realtime">
                        <div class="block_area-header">
                            <div class="float-left bah-heading mr-4">
                                <h2 class="cat-heading">Related Anime</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="block_area-content">
                            <div class="cbox cbox-list cbox-realtime cbox-collapse">
                                <div class="cbox-content">
                                    <div class="anime-block-ul">
                                        <ul class="ulclear">
                                            <% anime.relatedAnimeList.forEach(function (relatedAnime) { %>
                                                <li>
                                                    <div class="film-poster item-qtip">
                                                        <img class="film-poster-img" alt="<%= relatedAnime.title %>"
                                                             src="https://img.animeow.pro/imgur/<%= relatedAnime.image %>"
                                                             loading="lazy">
                                                    </div>
                                                    <div class="film-detail">
                                                        <h3 class="film-name">
                                                            <a href="/watch/<%= relatedAnime.slug %>"
                                                               title="<%= relatedAnime.title %>"
                                                               class="dynamic-name">
                                                                <%= relatedAnime.title %>
                                                            </a>
                                                        </h3>
                                                        <div class="fd-infor">
                                                            <span class="fdi-item">
                                                                <%= relatedAnime.releaseYear %>
                                                            </span>
                                                            <span class="dot"></span>
                                                            <span class="fdi-item fdi-duration">
                                                                <% if(relatedAnime.status === 'ongoing') { %>
                                                                    <%= relatedAnime.episodeCount %>/??
                                                                <% } else if(relatedAnime.status === 'finished') { %>
                                                                    <%= relatedAnime.episodeCount %>
                                                                    /<%= relatedAnime.episodeCount %>
                                                                <% } %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </li>
                                            <% }) %>
                                            %>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        </div>
                    </section>
                <% } %>
                <%- include('./base/top-views-sidebar') %>
            </div>
            <!--/End: main-sidebar-->
            <div class="clearfix"></div>
        </div>
    </div>
    <!--End: Main-->
    <!--Start: Footer-->
    <%- include('./base/footer') %>
    <!--End: Footer-->
</div>

<!-- End Google Tag Manager (noscript) -->
<script> var remark_config={host:"https://remark42.animeow.pro",site_id:"remark42.animeow",components:["embed"],max_shown_comments:10,theme:"dark",url:window.location.origin+"/watch/<%= anime.slug %>",page_title:"<%= anime.tittle %>",locale:"vi",show_email_subscription:!1,simple_view:!0,show_rss_subscription:!1,no_footer:!0};!function(e,o){for(var r=0;r<e.length;r++){var n=o.createElement("script"),i=".js",t=o.head||o.body;"noModule"in n?(n.type="module",i=".mjs"):n.async=!0,n.defer=!0,n.src=remark_config.host+"/web/"+e[r]+i,t.appendChild(n)}}(remark_config.components||["embed"],document);</script>
</body>
</html>