<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <title><%= title %></title>
    <%- include('./base/meta-data') %>
    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="preload"
          as="style">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" media="print"
          onload="this.media='all'">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://statics.animeow.pro/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" integrity="sha512-KulI0psuJQK8UMpOeiMLDXJtGOZEBm8RZNTyBBHIWqoXoPMFcw+L5AEo0YMpsW8BfiuWrdD1rH6GWGgQBF59Lg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://statics.animeow.pro/css/video-js.min.css" rel="stylesheet" type="text/css">
    <link href="https://statics.animeow.pro/css/fantasy.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://statics.animeow.pro/css/styles.css" type="text/css">
    <%- include('./base/google') %>
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v16.0&appId=1412392379533830&autoLogAppEvents=1"
        nonce="xK6zkTMh"></script>
<div id="wrapper">
    <!--Begin: Header-->
    <%- include('./base/header') %>
    <!--End: Header-->

    <div class="prebreadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item text-capitalize active">
                        <%= anime.title %>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <!--Begin: Main-->
    <div id="main-wrapper" class="layout-page layout-page-watch">
        <div class="container">

            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>

            <div class="player-extend-display"></div>
            <div id="main-content">

                <!--Begin: watch-block-->
                <div id="watch-block" class="">
                    <% if(anime.trailer && anime.episodeCount <= 0) { %>
                        <div class="player-wrap">
                            <div class="wb_-playerarea">
                                <iframe src="<%= anime.trailer %>"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="player-wrap">
                            <div class="wb_-playerarea">
                                Đang tải phim, vui lòng đợi trong giây lát..
                            </div>
                        </div>

                        <div class="player-controls">
                            <div id="prevEp" class="pc-item" data-current-episode="<%= episodeNum %>"
                                 data-episodes="<%= anime.episodeCount %>">
                                <div class="toggle-basic">
                                    <span class="tb-name"><i class="fas fa-backward"></i> Tập trước</span>
                                </div>
                            </div>
                            <div id="nextEp" class="pc-item" data-current-episode="<%= episodeNum %>"
                                 data-episodes="<%= anime.episodeCount %>">
                                <div class="toggle-basic">
                                    <span class="tb-name"><i class="fas fa-forward"></i> Tập tiếp</span>
                                </div>
                            </div>
                            <div id="comment" class="pc-item">
                                <div class="toggle-basic">
                                    <span class="tb-name"><i class="fas fa-comment"></i> Bình luận</span>
                                </div>
                            </div>
                            <div id="capture" class="pc-item">
                                <div class="toggle-basic">
                                    <span class="tb-name"><i class="fas fa-camera"></i> Chụp ảnh</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    <% } %>
                </div>

                <div class="player-servers">
                    <div id="servers-content">
                        <div class="ps_-status">
                            <div class="content">
                                <% if(anime.trailer && anime.episodeCount <= 0) { %>
                                    <div class="server-notice"><strong>Bạn đang xem
                                            <b>Trailer</b>.</strong> Phim sắp chiếu hoặc admin đang cập
                                        nhật tập mới, bạn vui lòng chờ nhé <3
                                    </div>
                                <% } else if(anime.episodeCount > 0) { %>
                                    <div class="server-notice"><strong>Bạn đang xem
                                            <b>Tập <%= episodeNum %></b>.</strong> Nếu
                                        server hiện tại gặp vấn đề hãy chọn server khác nhé <3
                                    </div>
                                <% } %>
                            </div>
                        </div>

                        <div class="ps_-block ps_-block-sub servers-sub">
                        </div>
                    </div>
                </div>

                <% if(anime.episodeCount > 0) { %>
                    <!--Begin: Section eps-list-->
                    <section class="block_area block_area-episodes"
                             style="<% if(anime.episodeCount > 99) { %>height: 300px<% } %>">
                        <div class="block_area-content">
                            <div class="episodes-ul">
                                <% for(let i = 0; i < episodes.length; i++) { %>
                                    <a href="/watch/<%= anime.slug %>/tap-<%= episodes[i].episodeNum %>"
                                       data-id="<%= episodes[i]._id %>"
                                       class="item ep-item <% if(episodeNum === episodes[i].episodeNum) { %>active<% } %>">
                                        <div class="order"><%= episodes[i].title %></div>
                                    </a>
                                <% } %>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </section>
                    <!--/End: Section eps-list-->
                <% } %>

                <!--Begin: Placeholder Ad-->
                <!--End: Placeholder Ad-->

                <!--Begin: Section detail-->
                <section class="block_area block_area-detail">
                    <div class="block_area-content">
                        <div class="anime-detail">
                            <div class="anime-poster">
                                <div class="film-poster">
                                    <img loading="lazy"
                                         src="https://statics.animeow.pro/imgur/<%= anime.image %>"
                                         class="film-poster-img" alt="<%= anime.title %>">
                                </div>
                            </div>
                            <div class="film-infor">
                                <div class="film-infor-top">
                                    <h2 class="film-name"><%= anime.title %></h2>
                                    <% if(anime.otherTitle) { %>
                                        <div class="alias"><%= anime.otherTitle %></div>
                                    <% } %>
                                </div>
                                <div class="film-description">
                                    <p class="shorting"><%= anime.description %></p>
                                </div>
                                <div class="meta">
                                    <div class="col1">
                                        <div class="item">
                                            <div class="item-title">Type:</div>
                                            <div class="item-content">
                                                <% if(anime.type === 'tv') { %>
                                                    TV Series
                                                <% } else if(anime.type === 'movie') { %>
                                                    Movie
                                                <% } else { %>
                                                    N/A
                                                <% } %>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <% if(anime.transTeam) { %>
                                            <div class="item">
                                                <div class="item-title">Nhóm sub:</div>
                                                <div class="item-content">
                                                    <span><%= anime.transTeam %></span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <% } %>

                                        <% if(genreList) { %>
                                            <div class="item">
                                                <div class="item-title">Thể loại:</div>
                                                <div class="item-content">
                                                    <% for(let i = 0; i < genreList.length; i++) { %>
                                                        <a href="/the-loai/<%= genreList[i].slug %>">
                                                            <%= genreList[i].name %>
                                                            <% if(i + 1 != genreList.length) { %>,
                                                            <% } %>
                                                        </a>
                                                    <% } %>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="col2">
                                        <% if(anime.season && anime.releaseYear) { %>
                                            <div class="item">
                                                <div class="item-title">Season:</div>
                                                <div class="item-content">
                                                    <% if(anime.season === 'spring') { %>
                                                        <span>Mùa Xuân Năm <%= anime.releaseYear %></span>
                                                    <% } else if(anime.season === 'summer') { %>
                                                        <span>Mùa Hạ Năm <%= anime.releaseYear %></span>
                                                    <% } else if(anime.season === 'fall') { %>
                                                        <span>Mùa Thu Năm <%= anime.releaseYear %></span>
                                                    <% } else if(anime.season === 'winter') { %>
                                                        <span>Mùa Đông Năm <%= anime.releaseYear %></span>
                                                    <% } else { %>
                                                        <span>N/A</span>
                                                    <% } %>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <% } %>

                                        <div class="item">
                                            <div class="item-title">Chất lượng:</div>
                                            <div class="item-content">
                                                <span><%= anime.quality %></span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <% if(anime.releaseYear) { %>
                                            <div class="item">
                                                <div class="item-title">Năm:</div>
                                                <div class="item-content">
                                                    <span><%= anime.releaseYear %></span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
                <!--/End: Section detail-->

                <!--Begin: Section comment-->
                <section class="block_area block_area-comment">
                    <div class="block_area-content">
                        <div class="fb-comments" data-href="https://animeow.pro/watch/<%= anime.slug %>"
                             data-width="100%" data-numposts="5" data-order-by="reverse_time"></div>
                    </div>
                </section>
                <!--/End: Section comment-->

                <div class="clearfix"></div>
            </div>


            <!--Start: main-sidebar-->
            <div id="main-sidebar">
                <% if(anime.relatedAnimeList && anime.relatedAnimeList.length > 0) { %>
                    <section class="block_area block_area_sidebar block_area-realtime">
                        <div class="block_area-header">
                            <div class="float-left bah-heading mr-4">
                                <h2 class="cat-heading">Related Anime</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="block_area-content">
                            <div class="cbox cbox-list cbox-realtime cbox-collapse">
                                <div class="cbox-content">
                                    <div class="anime-block-ul">
                                        <ul class="ulclear">
                                            <% anime.relatedAnimeList.forEach(function (relatedAnime) { %>
                                                <li>
                                                    <div class="film-poster item-qtip">
                                                        <img class="film-poster-img" alt="<%= relatedAnime.title %>"
                                                             src="https://statics.animeow.pro/imgur/<%= relatedAnime.image %>"
                                                             loading="lazy">
                                                    </div>
                                                    <div class="film-detail">
                                                        <h3 class="film-name">
                                                            <a href="/watch/<%= relatedAnime.slug %>"
                                                               title="<%= relatedAnime.title %>"
                                                               class="dynamic-name">
                                                                <%= relatedAnime.title %>
                                                            </a>
                                                        </h3>
                                                        <div class="fd-infor">
                                                            <span class="fdi-item">
                                                                <%= relatedAnime.releaseYear %>
                                                            </span>
                                                            <span class="dot"></span>
                                                            <span class="fdi-item fdi-duration">
                                                                <% if(relatedAnime.status === 'ongoing') { %>
                                                                    <%= relatedAnime.episodeCount %>/??
                                                                <% } else if(relatedAnime.status === 'finished') { %>
                                                                    <%= relatedAnime.episodeCount %>
                                                                    /<%= relatedAnime.episodeCount %>
                                                                <% } %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </li>
                                            <% }) %>
                                            %>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        </div>
                    </section>
                <% } %>
                <%- include('./base/top-views-sidebar') %>
            </div>
            <!--/End: main-sidebar-->
            <div class="clearfix"></div>
        </div>
    </div>
    <!--End: Main-->
    <!--Start: Footer-->
    <%- include('./base/footer') %>
    <!--End: Footer-->
</div>

<script type="text/javascript" src="https://statics.animeow.pro/js/jquery.min.js"></script>
<script type="text/javascript" src="https://statics.animeow.pro/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://statics.animeow.pro/js/video.min.js"></script>
<% if(anime.episodeCount > 0) { %>
<script>
    (function ($) {
        function get_link_backup(a) {
            $.ajax({
                url: "https://animeow.pro/ajax/player",
                type: "post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    a: a,
                }),
                success: function (res) {
                    $(".servers-sub").html(res);
                    var b = $(".server-item")[0].getAttribute("data-server-id");
                    $(".server-item a")[0].classList.add("active");
                    get_player(a, b);
                },
                error: function (err) {
                    console.log("Ajax error!");
                }
            })
        }

        function get_player(a, b) {
            $.ajax({
                url: "https://animeow.pro/ajax/player",
                type: "post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    a: a,
                    b: b
                }),
                success: function (res) {
                    $(".wb_-playerarea").html(res);
                },
                error: function (err) {
                    console.log("Ajax error!");
                }
            })
        }

        $(document).ready(function () {
            var a = $(".episodes-ul a.item.ep-item.active").attr("data-id");
            get_link_backup(a);

            $(document).on("click", ".server-item", function (e) {
                e.preventDefault()
                $(".server-item a").each(e => {
                    $(".server-item a").get(e).classList.remove("active")
                })
                $(this).find("a")[0].classList.add("active");

                var player = videojs('player');
                player.dispose();
                $(".wb_-playerarea").empty();
                $(".wb_-playerarea").html('Đang tải phim, vui lòng đợi trong giây lát..');
                var b = $(this).attr("data-server-id");
                get_player(a, b);
            });

        });
    })(jQuery);
</script>
<% } %>
<script type="text/javascript" src="https://statics.animeow.pro/js/main.js"></script>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZQ8M67"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>