<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <%- include('./base/head') %>
</head>
<body>
<div id="wrapper">
    <!--Begin: Header-->
    <%- include('./base/header') %>
    <!--End: Header-->

    <div class="prebreadcrumb">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item text-capitalize active">
                        <%= anime.title %>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <!--Begin: Main-->
    <div id="main-wrapper" class="layout-page layout-page-watch">
        <div class="container">
            <div class="player-extend-display"></div>
            <div id="main-content">
                <!--Begin: watch-block-->
                <div id="watch-block" class="">
                    <video
                            id="my-video"
                            class="video-js vjs-theme-fantasy"
                            controls
                            data-setup='{"fluid": true, "notSupportedMessage": "Tập phim này đã bị lỗi! Bạn vui lòng thông báo cho Admin nhé! Thank you <3"}'>
                        <source src="<%= episode.tempVideoUrl %>" type="video/mp4"/>
                    </video>
                    <div class="player-controls">
                        <div id="prevEp" class="pc-item" data-current-episode="<%= episode.episodeNum %>"
                             data-episodes="<%= anime.episodeCount %>">
                            <div class="toggle-basic">
                                <span class="tb-name"><i class="fas fa-backward"></i> Tập trước</span>
                            </div>
                        </div>
                        <div id="nextEp" class="pc-item" data-current-episode="<%= episode.episodeNum %>"
                             data-episodes="<%= anime.episodeCount %>">
                            <div class="toggle-basic">
                                <span class="tb-name"><i class="fas fa-forward"></i> Tập tiếp</span>
                            </div>
                        </div>
                        <div id="comment" class="pc-item">
                            <div class="toggle-basic">
                                <span class="tb-name"><i class="fas fa-comment"></i> Bình luận</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="player-servers">
                    <div id="servers-content">
                        <div class="ps_-status">
                            <div class="content">
                                <div class="server-notice"><strong>Bạn đang xem
                                        <b>Tập <%= episode.episodeNum %></b>.</strong> Nếu
                                    server hiện tại gặp vấn đề hãy chọn server khác nhé <3
                                </div>
                            </div>
                        </div>

                        <div class="ps_-block ps_-block-sub servers-sub">
                            <div class="ps__-title"><i class="fas fa-server mr-2"></i>SERVER:</div>
                            <div class="ps__-list">
                                <div class="item server-item">
                                    <a href="/watch/<%= anime.slug %>/tap-<%= episode.episodeNum %>" class="btn active">#1</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <!--Begin: Section eps-list-->
                <section class="block_area block_area-episodes">
                    <div class="block_area-content">
                        <div class="episodes-ul">
                            <% for(let i = 0; i < anime.episodeCount; i++) { %>
                                <% if(i + 1 != episode.episodeNum) { %>
                                    <a href="/watch/<%= anime.slug %>/tap-<%= i + 1 %>"
                                       title="Tập <%= i + 1 %>"
                                       class="item ep-item">
                                        <div class="order"><%= i + 1 %></div>
                                    </a>
                                <% } else { %>
                                    <a href="/watch/<%= anime.slug %>/tap-<%= i + 1 %>"
                                       title="Tập <%= i + 1 %>"
                                       class="item ep-item active">
                                        <div class="order"><%= i + 1 %></div>
                                    </a>
                                <% } %>
                            <% } %>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </section>
                <!--/End: Section eps-list-->

                <!--Begin: Placeholder Ad-->
                <!--End: Placeholder Ad-->

                <!--Begin: Section detail-->
                <section class="block_area block_area-detail">
                    <div class="block_area-content">
                        <div class="anime-detail">
                            <div class="anime-poster">
                                <div class="film-poster">
                                    <img loading="lazy" src="https://ik.imagekit.io/3q7pewvsl/imgur/<%= anime.image %>"
                                         class="film-poster-img">
                                </div>
                            </div>
                            <div class="film-infor">
                                <div class="film-infor-top">
                                    <h2 class="film-name"><%= anime.title %></h2>
                                    <% if(anime.otherTitle) { %>
                                        <div class="alias"><%= anime.otherTitle %></div>
                                    <% } %>
                                </div>
                                <div class="film-description">
                                    <p class="shorting"><%= anime.description %></p>
                                </div>
                                <div class="meta">
                                    <div class="col1">
                                        <div class="item">
                                            <div class="item-title">Type:</div>
                                            <div class="item-content">
                                                <%= anime.type %>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <% if(anime.transTeam) { %>
                                            <div class="item">
                                                <div class="item-title">Nhóm sub:</div>
                                                <div class="item-content">
                                                    <span><%= anime.transTeam %></span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <% } %>

                                        <% if(genreList) { %>
                                            <div class="item">
                                                <div class="item-title">Thể loại:</div>
                                                <div class="item-content">
                                                    <% for(let i = 0; i < genreList.length; i++) { %>
                                                        <a href="/the-loai/<%= genreList[i].slug %>">
                                                            <%= genreList[i].name %>
                                                            <% if(i + 1 != genreList.length) { %>,
                                                            <% } %>
                                                        </a>
                                                    <% } %>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="col2">
                                        <% if(anime.season && anime.releaseYear) { %>
                                            <div class="item">
                                                <div class="item-title">Season:</div>
                                                <div class="item-content">
                                                    <span>Mùa <%= anime.season %> Năm <%= anime.releaseYear %></span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <% } %>

                                        <div class="item">
                                            <div class="item-title">Chất lượng:</div>
                                            <div class="item-content">
                                                <span><%= anime.quality %></span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <% if(anime.releaseYear) { %>
                                            <div class="item">
                                                <div class="item-title">Năm:</div>
                                                <div class="item-content">
                                                    <span><%= anime.releaseYear %></span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
                <!--/End: Section detail-->

                <!--Begin: Section comment-->
                <section class="block_area block_area-comment">
                    <div class="block_area-header block_area-header-tabs">
                        <div class="float-left bah-heading mr-4">
                            <h2 class="cat-heading">Bình Luận</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="block_area-content">
                        <div class="disqus"></div>
                    </div>
                </section>
                <!--/End: Section comment-->

                <div class="clearfix"></div>
            </div>

            <!--Start: main-sidebar-->
            <%- include('./base/top-views-sidebar') %>
            <!--/End: main-sidebar-->
            <div class="clearfix"></div>
        </div>
    </div>
    <!--End: Main-->

    <!--Start: Footer-->
    <%- include('./base/footer') %>
    <!--End: Footer-->
</div>

<script src="https://cdn.jsdelivr.net/npm/video.js@8.0.4/dist/video.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
        integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<%- include('./base/js-plugin') %>
<script type="text/javascript" src="/js/disqusloader.js"></script>
<script>
    const options =
        {
            scriptUrl: '//animeow.disqus.com/embed.js',
            disqusConfig: function () {
                this.page.title = "<%= anime.title %>"
                this.page.url = window.location.href;
                this.page.identifier = "<%= anime.slug %>";
            }
        };
    $.disqusLoader('.disqus', options);
</script>
</body>
</html>