<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <title><%= title %></title>
    <%- include('./base/meta-data') %>
    <%- include('./base/common-css') %>
    <%- include('./base/google-tag') %>
</head>
<body>
<div id="wrapper">
    <!--Begin: Header-->
    <%- include('./base/header') %>
    <!--End: Header-->

    <!--Begin: Main-->
    <div id="main-wrapper">
        <div class="container">
            <!--Begin: main-content-->
            <div id="main-content">

                <% if(slideList) { %>
                    <div class="deslide-wrap">
                        <div id="slider" class="swiper">
                            <div class="swiper-wrapper">
                                <% slideList.value.forEach(function(slide) { %>
                                    <div class="swiper-slide">
                                        <div class="deslide-item">
                                            <div class="deslide-cover">
                                                <div class="deslide-cover-img">
                                                    <img class="film-poster-img"
                                                         src="https://ik.imagekit.io/3q7pewvsl/banner/tr:w-1000,h-400/<%= slide.image %>"
                                                         alt="<%= slide.title %>"
                                                         loading="lazy">
                                                </div>
                                            </div>
                                            <div class="deslide-item-content">
                                                <div class="desi-head-title">
                                                    <a href="/watch/<%= slide.slug %>"><%= slide.title %></a>
                                                </div>
                                                <div class="desi-description"><%= slide.description %></div>
                                                <div class="desi-buttons">
                                                    <a href="/watch/<%= slide.slug %>" class="btn">Xem Ngay</a>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-navigation">
                                <div class="swiper-button swiper-button-next"><i class="fas fa-chevron-right"></i></div>
                                <div class="swiper-button swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                <% } %>

                <% if(alert && alert.value.length > 0) { %>
                    <!--Begin: text home-->
                    <div id="text-home">
                        <div class="alert alert-info"><%= alert.value %></div>
                        <!--/End: text home-->
                    </div>
                <% } %>

                <div class="section-title">
                    <h4>Mới Cập Nhật</h4>
                </div>

                <!--Begin: Section film list-->
                <%- include('./base/anime-list') %>
                <!--End: Section film list-->
                <div class="clearfix"></div>
            </div>
            <!--/End: main-content-->

            <!--Start: main-sidebar-->
            <%- include('./base/top-views-sidebar') %>
            <!--/End: main-sidebar-->
            <div class="clearfix"></div>
        </div>
    </div>
    <!--End: Main-->

    <!--Start: Footer-->
    <%- include('./base/footer') %>
    <!--End: Footer-->
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9.1.1/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/swiper-slide.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZQ8M67"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>