<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <%- include('./base/head') %>
</head>
<body>
<div id="wrapper">
    <!--Begin: Header-->
    <%- include('./base/header') %>
    <!--End: Header-->

    <!--Begin: Main-->
    <div id="main-wrapper">
        <div class="container">
            <!--Begin: main-content-->
            <div id="main-content">

                <%- include('./base/slider') %>

                <% if(alert) {%>
                    <!--Begin: text home-->
                <div id="text-home">
                    <div class="alert alert-info"><%= alert.value %></div>
                    <!--/End: text home-->
                </div>
                <% } %>

                <div class="section-title">
                    <h4>Mới Cập Nhật</h4>
                </div>

                <!--Begin: Section film list-->
                <%- include('./base/anime-list') %>
                <!--End: Section film list-->
                <div class="clearfix"></div>
            </div>
            <!--/End: main-content-->

            <!--Start: main-sidebar-->
            <%- include('./base/top-views-sidebar') %>
            <!--/End: main-sidebar-->
            <div class="clearfix"></div>
        </div>
    </div>
    <!--End: Main-->

    <!--Start: Footer-->
    <%- include('./base/footer') %>
    <!--End: Footer-->
</div>

<%- include('./base/js-plugin') %>
</body>
</html>