<div class="block_area-content block_area-list film_list film_list-grid">
    <div class="film_list-wrap">
        <% animeListUpcoming.forEach(function (anime) { %>
            <div class="flw-item item-qtip">
                <div class="film-poster">
                    <% if(anime.status === 'upcoming') { %>
                        <div class="tick-item tick-quality">Trailer</div>
                    <% } %>

                    <div class="tick ltr">
                        <% if(anime.type) { %>
                            <div class="tick-item tick-sub">
                                <%= anime.type === 'tv' ? 'TV Series' : anime.type.charAt(0).toUpperCase() + anime.type.slice(1) %>
                            </div>
                        <% } %>
                    </div>

                    <% if(anime.episodeCount > 0) { %>
                        <div class="tick rtl">
                            <div class="tick-item tick-eps">
                                <% if(anime.status === 'ongoing') { %>
                                    <%= anime.episodeCount %>/??
                                <% } else if(anime.status === 'finished') { %>
                                    <%= anime.episodeCount %>/<%= anime.episodeCount %>
                                <% } %>
                            </div>
                        </div>
                    <% } %>

                    <img loading="lazy"
                         src="https://img.animeow.pro/imgur/<%= anime.image %>"
                         class="film-poster-img"
                         alt="<%= anime.title %>">
                    <a href="/watch/<%= anime.slug %>" class="film-poster-ahref"><i class="fas fa-play"></i></a>
                </div>
                <div class="film-detail">
                    <h3 class="film-name">
                        <a title="<%= anime.title.replace(/(?:^|\s|[-"'([{.])+\S/g, (c) => c.toUpperCase()) %>"
                           href="/watch/<%= anime.slug %>">
                            <%= anime.title %>
                        </a>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        <% }) %>
    </div>
    <div class="clearfix"></div>
</div>
